In [1]:
import os
import openai

In [2]:
openai.api_key = os.getenv("OPENAI_API_KEY")

In [3]:

response = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "system", "content": "You are a helpful assistant."},
    {"role": "user", "content": "What are some famous astronomical observatories?"}
  ],
  temperature=0,
  max_tokens=1024
)

In [4]:
print(response)

{
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "message": {
        "content": "Some famous astronomical observatories include:\n\n1. Hubble Space Telescope: Launched in 1990, the Hubble Space Telescope is one of the most famous observatories. It has provided stunning images and valuable scientific data about the universe.\n\n2. Mauna Kea Observatory: Located on the summit of Mauna Kea in Hawaii, this observatory is home to several telescopes operated by different countries and organizations. It is known for its high altitude and clear skies.\n\n3. Arecibo Observatory: Located in Puerto Rico, the Arecibo Observatory is famous for its massive radio telescope, which was the largest single-aperture telescope until its collapse in 2020.\n\n4. Palomar Observatory: Situated in California, the Palomar Observatory houses the famous 200-inch Hale Telescope. It has been instrumental in many astronomical discoveries.\n\n5. Very Large Array (VLA): Located in New Mexico, the VLA consists of 27 radio antennas spread over a large area. It has been used to study a wide range of astronomical phenomena.\n\n6. Chandra X-ray Observatory: Launched in 1999, the Chandra X-ray Observatory is a space-based telescope that observes X-rays from high-energy sources in the universe.\n\n7. European Southern Observatory (ESO): The ESO operates several observatories in Chile, including the Very Large Telescope (VLT) and the Atacama Large Millimeter/submillimeter Array (ALMA). These observatories provide valuable data in various wavelengths.\n\n8. Keck Observatory: Located in Hawaii, the Keck Observatory consists of two telescopes with 10-meter mirrors. It has contributed to numerous astronomical discoveries.\n\nThese are just a few examples of famous astronomical observatories, and there are many more around the world.",
        "role": "assistant"
      }
    }
  ],
  "created": 1694647760,
  "id": "chatcmpl-7yTaKEQN6ZTfyh2SDoRkY8kBA5nU1",
  "model": "gpt-3.5-turbo-0613",
  "object": "chat.completion",
  "usage": {
    "completion_tokens": 359,
    "prompt_tokens": 25,
    "total_tokens": 384
  }
}

In [ ]:
print(response['choices'][0]['message']['content'])

In [ ]:
print(response['usage']['total_tokens'])

In [ ]:
response.keys()

In [ ]:
response.values()

In [ ]:
system_msg = """
Given the following SQL tables, your job is to write queries given a userâ€™s request.

CREATE TABLE Orders (
  OrderID int,
  CustomerID int,
  OrderDate datetime,
  OrderTime varchar(8),
  PRIMARY KEY (OrderID)
);

CREATE TABLE OrderDetails (
  OrderDetailID int,
  OrderID int,
  ProductID int,
  Quantity int,
  PRIMARY KEY (OrderDetailID)
);

CREATE TABLE Products (
  ProductID int,
  ProductName varchar(50),
  Category varchar(50),
  UnitPrice decimal(10, 2),
  Stock int,
  PRIMARY KEY (ProductID)
);

CREATE TABLE Customers (
  CustomerID int,
  FirstName varchar(50),
  LastName varchar(50),
  Email varchar(100),
  Phone varchar(20),
  PRIMARY KEY (CustomerID)
);

"""

user_msg = """
Write a SQL query which computes the average total order value for all orders on 2023-04-01.
"""

In [ ]:


response = openai.ChatCompletion.create(
  model="gpt-4",
  messages=[
    {"role": "system", "content": system_msg},
    {"role": "user", "content": user_msg}
  ],
  temperature=0,
  max_tokens=1024
)

In [ ]:
response

In [ ]:
print(response['choices'][0]['message']['content'])